h1 {
	font-size: 300%;
    color:#009dd9;
    font-family: "Georgia";
}

h2 {
    font-size: 200%;
    color:#009dd9;
    font-family: "Georgia";
}

h3 {
  font-size: 110%;
  color:#009dd9;
  font-family: "Georgia";
  padding:0px;
  margin-bottom: 2px;
}
b {
  font-size: 90%;
}
/* .table1 td,.table1 th {
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top;
  border-bottom:1px solid #ccc;
}
.table1 {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table;
  border:1px solid #ccc;
  
} */

/* .w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px} */


.topnav {
    background: #009dd9;
    overflow: hidden;
    margin-bottom: 10px;
    font-family: "Georgia";
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgb(131, 131, 131);
    color: white;
  }
  .topnav a.active {
    background-color: rgb(194, 194, 194);
    color: white;
  }
  .topnav a.active:hover {
    background-color: rgb(131, 131, 131);
    color: white;
  }

  .button {
    background-color: rgb(255, 255, 255); 
    color: rgb(160, 160, 160); 
    border: 2px solid rgb(180, 180, 180);
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
  }
  .button:hover {
    background-color: rgb(128, 128, 128);
    color: white;
  }